#navList{
    width:100% ;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    /* margin-left: 30px;
    margin-right: 20px; */
    align-items: center;
    padding: 15px;



}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    height: 100px;
    width: 220vh;
    overflow: none;
    background-color: #e2e5e8;
    background-image: linear-gradient(90deg,#e2e5e8 0%, #ffffff 100%);
    
    
}
.navContainer{
    height: 100px;
    background-color: #000000;
    background-image: linear-gradient(160deg,#000000 0%, #8085d0 100%);
    min-height: 80px;
    display: flex;
    justify-content:center ;
    align-items: center;
    position: relative;

}
#navlogo{
    font-size: 2.5rem;
    color: white;
}
nav{
    width: 100%;
    overflow-x: none;
}
a{
    text-decoration: none;
    color: white;
}
    

#navitems{
    display: flex;
    gap: 40px;
    
}
.footerBox{
    background-color: #000000;
    background-image: linear-gradient(160deg,#000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;

}
.footerBox p{
    color:azure;
    /* font-size: 30px ; */

}
.contentBox{
    width: 70%;
    margin: auto;
    
    padding: 4rem;
    box-shadow: 10px 10px 20px black;
    background-color: #94bbe9;
    background-image: linear-gradient(160deg,#94bbe9, #eeaeca 100%);
    
}
.item{
    display: flex;
    justify-content: space-between;

}
.rightBox{
    position:relative;

    transition: all 0.3s linear 0s;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    height: max-content;
    margin-top: 150px;
    

}
.rightBox img{
    height: 300px;
    border-radius: 15px;
    /* margin: 10px; */
    
    transition: all 0.6s linear 0s;
    display: block;
 }
.rightBox img:hover{

    transform:scale(2);

}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: px;


}
.leftBox h2{
    font-size: 2rem;
    margin: 15px;
    text-decoration:underline;
    color: white;
}
.indBox{
    font-size: 1.rem;
    /* margin-top: 20px; */
    border: 2px solid white;
    width: 400px;
    height: 400ppx;
    overflow: scroll;
    clear: left;
}
.recBox{
    font-size: 1.1rem; 
    margin-top: 10px;
    border: 2px solid white;
    width: 400px;
    height: 400px;
    overflow: scroll;
    clear: left;
}
.reBox{
    font-size: 1.1rem; 
    margin-top: 10px;
    border: 2px solid white;
    width: 300px;
    height: 300px;
    overflow: scroll;
    clear: left;

}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:100%;
    width: 100%;
    background-color:  rgba(36, 34, 34, 0.713);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    opacity: 0;

}
.rightBox:hover .overlay{
    opacity: 1;
    transition: all 0.3s linear 0s;
}

.rightBox .overlay span{
    color: white;
    font-size: 20px ;



}


